<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Acerca de el desarrollo de la pagina web">

    <title>Acerca de Nosotros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/menu.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/acerca.css">
</head>
<body>
    <div id="header-placeholder"></div>
    <main>
        <section class="about-us">
            <h1>Acerca de Nosotros</h1>
            <p>Somos un grupo de estudiantes de ingeniería apasionados de la Universidad de Managua, comprometidos con el desarrollo de soluciones innovadoras y prácticas a través del uso de la tecnología. Nuestro equipo está compuesto por futuros profesionales de diversas disciplinas de la ingeniería, unidos por el objetivo común de aplicar nuestros conocimientos académicos en proyectos reales que generen un impacto positivo en nuestra comunidad y más allá.</p>
            <p>En nuestra universidad, hemos aprendido la importancia de la colaboración, la creatividad y la dedicación. Cada miembro de nuestro equipo aporta habilidades únicas y una perspectiva distinta, lo que nos permite abordar desafíos desde múltiples ángulos y encontrar soluciones efectivas y eficientes.</p>
            <p>Ayudados con tecnologías como HTML, CSS y JavaScript, hemos creado esta página web como una guía médica de hospitales y centros especializados. Nuestro objetivo es proporcionar una herramienta útil y accesible para que las personas puedan encontrar fácilmente información sobre servicios médicos disponibles en su área.</p>
            <p>Nuestra misión es aprovechar las oportunidades de aprendizaje que nos brinda nuestra formación académica para crear proyectos significativos y útiles. Creemos firmemente en el poder de la educación y la tecnología como motores de cambio y progreso.</p>
            <p>Gracias por visitar nuestra página y por tu interés en conocer más sobre nosotros. Te invitamos a seguir nuestro trabajo y a unirte a nosotros en este emocionante viaje de descubrimiento y creación.</p>
            <div class="image-container">
                <img src="/assets/img/udem.png" alt="Logo de la Universidad de Managua">
            </div>
        </section>
    </main>
    <script defer src="/assets/js/menu.js"></script>
    <div id="footer-placeholder"></div>
</body>
</html>
