<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="vista para la seccion de ayuda a reportar a los usaurios y la posibilidad de nandar correo al quipo de desarrollo">
    <title>Acerca de Nosotros</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/css/menu.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/contacto.css">
</head>
<body>
    <div id="header-placeholder"></div>
    <main>
        <section class="contacto">
            <h1>Contactanos</h1>
            <p>Tu opinión es importante para nosotros. Si crees que hemos cometido algún error o tienes alguna sugerencia para mejorar nuestra guía médica, por favor, no dudes en contactarnos. Puedes escribirnos directamente a nuestro correo electrónico de soporte: <a href="mailto:soporte@tuguiamedicani.com">soporte@tuguiamedicani.com</a>. Estamos aquí para leerte y trabajar en solucionar cualquier inconveniente que puedas encontrar.</p>
            <div class="image-container">
                <img src="/assets/img/soporte-tecnico.png" alt="Logo de la Universidad de Managua">
            </div>
        </section>
    </main>
    <script defer src="/assets/js/menu.js"></script>
    <div id="footer-placeholder"></div>
</body>
</html>
