<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Google Maps - Centro Nacional de Dermatología Nicaragua</title>
    <meta name="description" content="Centro Nacional de Dermatología Nicaragua: Encuentra nuestra ubicación en el mapa, información de contacto y más.">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="/assets/css/body.css">
    <link rel="preload" href="../css/styles.css" as="style">
    <link rel="preload" href="/assets/css/body.css" as="style">
    <link rel="stylesheet" href="../css/styles.css" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="/assets/css/body.css" media="print" onload="this.media='all'">
    <noscript>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="/assets/css/body.css">
    </noscript>
    <script defer src="/assets/js/menu.js"></script>
</head>
<body>
    <div id="menu-placeholder"></div>
    <h1>Centro Nacional de Dermatología Nicaragua</h1>
    <ul>
        <li>Teléfono: 2266-6592</li>
    </ul>
    <img src="../img/Dermatologico.png" alt="Centro Nacional de Dermatología Nicaragua" class="imagen">
    <div id="cuadro">
        <div id="map-container">
            <div id="map"></div>
        </div>
    </div>
    <script defer src="../js/Dermatologico.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB37vk7Cq7QB7ImKCQH22IqNrOo-_vjXR4&callback=initMap"></script>
</body>
</html>
