<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/Dermatologia.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Centro Nacional Dermatologico</title>
</head>
<body>
    <div id="header-placeholder"></div>
    <main data-vista="dermatologia">
        <section class="hero">
            <div class="hero-text">
                <h2>Centro Nacional Dermatologico</h2>
                <p>Brindamos atención gratuita con calidad y calidez al pueblo nicaragüense</p>
            </div>
        </section>
    

        <section class="specialties">
            <h2>Especialidades disponibles</h2>
            <div class="specialties-container">
                <div class="specialty"><b>Procedimientos Quirúrgicos: </b>Cirugía menor para la eliminación de lesiones cutáneas, biopsias y otros procedimientos dermatológicos.</div>
                <div class="specialty"><b>Tratamientos Dermatológicos:</b> Terapias para diversas enfermedades de la piel, como psoriasis, eczema, acné, dermatitis y enfermedades infecciosas.</div>
                <div class="specialty"><b>Córnea:</b>Tratamiento de enfermedades y condiciones de la córnea.</div>
            </div>
        </section>



        <section class="specialties">
            <h2>Servicios Médicos</h2>
            <div class="specialties-container">
                <div class="specialty"><b>Consultas Dermatológicas: </b>Evaluaciones y diagnósticos de condiciones dermatológicas.</div>
                <div class="specialty"><b>Tratamientos Dermatológicos: </b>Terapias para diversas enfermedades de la piel, como psoriasis, eczema, acné, dermatitis y enfermedades infecciosas.</div>
                <div class="specialty"><b>Procedimientos Quirúrgicos: </b>Cirugía menor para la eliminación de lesiones cutáneas, biopsias y otros procedimientos dermatológicos.</div>
                <div class="specialty"><b>Fototerapia:</b>Tratamientos de luz para enfermedades de la piel como psoriasis y vitiligo.</div>
                <div class="specialty"><b>Terapias Láser:</b> Tratamientos con láser para diversas afecciones de la piel.</div>
                <div class="specialty"><b>Dermatología Cosmética:</b> Tratamientos estéticos, como peelings químicos, microdermoabrasión y otros procedimientos cosméticos.</div>
            </div>
        </section>


        <section class="consultation">
            <h2>Consulta Externa</h2>
            <p><strong>Horario:</strong> De lunes a viernes, en horario de oficina 8:00 AM a 4:00 PM</p>
        </section>

        <section class="emergency">
            <h2>Atención</h2>
            <p><strong>Horario:</strong> Servicio disponible las 24 horas los 7 dias a la semana</p>
        </section>

        <section class="contact">
            <h2>Numero de contacto</h2>
            <p>Teléfono: <a href="tel:+5052266 6592">+505 2266 6592</a></p>
        </section>

        <section class="location">
            <h2>Ubicación</h2>
            <p class="location-address"><B>Dirección:</B>Estatua Monseñor Lezcano 1 al Sur 1 abajo , Monseñor Lezcano</p>
            <div id="map"></div>
            <button id="reset-marker" class="reset-button">Ubicar Centro</button>
        </section>

        <section class="comments-section">
            <h2>Comentarios</h2>
            <form id="comentarioForm">
                <input type="text" id="nombre" placeholder="nombre" required>
                <textarea id="comentario" placeholder="Comentario" required></textarea>
                <button type="submit">Enviar</button>
            </form>
            <div id="comentarios"></div>
        </section>        
    </main>

    <div id="footer-placeholder"></div>
    <script defer src="/assets/js/main.js"></script>
    <script defer src="/assets/js/Dermatologia.js"></script>
    <script defer src="/assets/js/comentarios.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</body>
</html>