<header>
    <img class="logo" src="/assets/img/logo.png" alt="Logo">
    <button id="abrir" class="abrir-menu" aria-label="Abrir menú"><i class="bi bi-list"></i></button>
    <nav class="nav" id="nav">
        <button class="cerrar-menu" aria-label="cerrar menú" id="cerrar"><i class="bi bi-x"></i></button>
        <ul class="nav-list">
            <li><a href="/index.html">Inicio</a></li>
            <li class="has-submenu">
                <a href="#">Hospitales <span class="fa-angle-down">&#x2304;</span></a>
                <ul class="sub-menu">
                    <li><a href="#">"La Mascota"</a></li>
                    <li><a href="#">Fernando Vélez Paiz</a></li>
                </ul>
            </li>
            <li class="has-submenu">
                <a href="#">Centros Especializados <span class="fa-angle-down">&#x2304;</span></a>
                <ul class="sub-menu">
                    <li><a href="#">Medicina natural para el adulto mayor</a></li>
                    <li><a href="#">Centro Nacional de Oftalmología</a></li>
                    <li><a href="#">Centro Nacional de Dermatología</a></li>
                </ul>
            </li>
            <li><a href="/assets/views/Acercade.html">Acerca de Nosotros</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>
</header>