<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/menu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <title><header></header></title>
</head>
<body>
    <header>

        <a href="/index.html"> <img class="logo" src="/assets/img/logo.webp" alt="Logo"></a>
        <button id="abrir" class="abrir-menu" aria-label="Abrir menú"><i class="bi bi-list"></i></button>
        <nav class="nav" id="nav">
            <button class="cerrar-menu" aria-label="cerrar menú" id="cerrar"><i class="bi bi-x"></i></button>
            <ul class="nav-list">
                <li><a href="/index.html">Inicio</a></li>
                <li class="has-submenu">
                    <a href="#">Hospitales <span class="fa-angle-down">&#x2304;</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">"La Mascota"</a></li>
                        <li><a href="/assets/views/velez.html">Fernando Vélez Paiz</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="#">Centros Especializados <span class="fa-angle-down">&#x2304;</span></a>
                    <ul class="sub-menu">
                        <li><a href="#">Medicina Natural</a></li>
                        <li><a href="/assets/views/oftamologia.html">Centro Oftalmología</a></li>
                        <li><a href="/assets/views/Dermatologia.html">Centro Dermatología</a></li>
                    </ul>
                </li>
                <li><a href="/assets/views/Acercade.html">Acerca de Nosotros</a></li>
                <li><a href="/assets/views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>