<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/Vistas.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>La Mascota</title>
</head>
<body>
    <div id="header-placeholder"></div>
    <main data-vista="Lamascota">
        <section class="hero">
            <img src="/assets/img/La_Macota.webp" alt="La Mascota" class="hero-bg">
            <div class="hero-text">
                <h2>Hospital Infantil Manuel de Jesús Rivera "La Mascota"</h2>
                <p>Proveemos atención médica de calidad</p>
            </div>
        </section>

        <section class="specialties">
            <h2>Especialidades disponibles</h2>
            <div class="specialties-container">
                <div class="specialty"><b>Oncología Pediátrica:</b> Tratamiento de cáncer en niños.</div>
                <div class="specialty"><b>Cardiología Pediátrica:</b> Diagnóstico y tratamiento de enfermedades del corazón.</div>
                <div class="specialty"><b>Neurología Pediátrica:</b> Atención de trastornos del sistema nervioso.</div>
                <div class="specialty"><b>Neonatología:</b> Cuidado de recién nacidos, especialmente de aquellos que requieren cuidados intensivos.</div>
                <div class="specialty"><b>Cirugía Pediátrica:</b> Procedimientos quirúrgicos en pacientes pediátricos.</div>
                <div class="specialty"><b>Gastroenterología Pediátrica:</b> Tratamiento de enfermedades del sistema digestivo.</div>
                <div class="specialty"><b>Endocrinología Pediátrica:</b> Manejo de trastornos hormonales y metabólicos.</div>
                <div class="specialty"><b>Nefrología Pediátrica:</b> Atención de enfermedades del riñón y vías urinarias.</div>
                <div class="specialty"><b>Hematología Pediátrica:</b>Tratamiento de enfermedades de la sangre.</div>
            </div>
        </section>

        <section class="consultation">
            <h2>Consulta Externa</h2>
            <p><strong>Horario:</strong> Lunes a Viernes, 7am - 4pm</p>
        </section>

        <section class="emergency">
            <h2>Atención de Emergencia</h2>
            <p><strong>Horario:</strong> Servicio disponible las 24 horas los 7 dias a la semana</p>
        </section>

        <section class="contact">
            <h2>Numero de contacto</h2>
            <p>Teléfono: <a href="tel:+5052289 7409">+505 2289 7409</a></p>
        </section>

        <section class="location">
            <h2>Ubicación</h2>
            <p class="location-address">Dirección: Bo. Ariel Darce, Distrito V, Managua, Ariel Darce</p>
            <div id="map"></div>
            <button id="reset-marker" class="reset-button">Ubicar Hospital</button>
        </section>

        <section class="comments-section">
            <h2>Comentarios</h2>
            <form id="comentarioForm">
                <input type="text" id="nombre" placeholder="Tu nombre" required>
                <textarea id="comentario" placeholder="Tu comentario" required></textarea>
                <button type="submit">Enviar</button>
            </form>
            <div id="comentarios"></div>
        </section>        
    </main>

    <div id="footer-placeholder"></div>
    <script defer src="/assets/js/main.js"></script>
    <script defer src="/assets/js/mascota.js"></script>
    <script defer src="/assets/js/comentarios.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</body>
</html>