<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Desplegable</title>
    <link rel="stylesheet" href="/assets/css/Menu.css">
<body>
    <nav class="navbar">
        <div class="logo-container">
            <img class="image" src="/assets/img/guiamedica.png" alt="Tu Guía Médica">
        </div>

        <ul class="nav-list">
            <li class="nav-item"><a href="/index.html" class="nav-link">Inicio</a></li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link">Hospitales  <span class="fa-angle-down">&#x2304</span></a>
                <ul class="dropdown-content">
                    <li class="divider"><a href="#" class="dropdown-link">Manuel de Jesús Rivera "La Mascota"</a></li>
                    <li class="divider"><a href="#" class="dropdown-link">Fernando Vélez Paiz</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link" >Centros Especializados <span class="fa-angle-down ">&#x2304</a>
                <ul class="dropdown-content">
                    <li class="divider"><a href="#" class="dropdown-link">Medicina natural para el adulto mayor</a></li>
                    <li class="divider"><a href="#" class="dropdown-link">Centro Nacional de Oftalmología</a></li>
                    <li class="divider"><a href="/assets/views/Dermatologia.html" class="dropdown-link">Centro Nacional de Dermatología</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Acerca de Nosotros</a></li>
        </ul>
    </nav>  
</body>
</html>
