<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Clínica de Medicina Natural para el Adulto Mayor">
    <link rel="stylesheet" href="/assets/css/Vistas.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <title>Clínica de Medicina Natural</title>
</head>
<body>
    <div id="header-placeholder"></div>
    <main data-vista="Lamascota">
        <section class="hero">
            <img src="/assets/img/natural.webp" alt="Clínica de Medicina Natural" class="hero-bg">
            <div class="hero-text">
                <h2>Clínica de Medicina Natural para el Adulto Mayor</h2>
                <p>Proveemos atención médica de calidad</p>
            </div>
        </section>

        <section class="specialties">
            <h2>Servicios Médicos</h2>
            <div class="specialties-container">
                <div class="specialty"><b>Consultas Médicas:</b> Evaluaciones y diagnósticos personalizados para pacientes mayores a 60 años.</div>
                <div class="specialty"><b>Terapias Naturales:</b> Tratamientos basados en plantas medicinales, acupuntura, homeopatía, y otros métodos de medicina natural.</div>
                <div class="specialty"><b>Fisioterapia:</b> Tratamientos físicos para mejorar la movilidad, reducir el dolor y promover la salud general.</div>
                <div class="specialty"><b>Nutrición:</b> Planes de alimentación personalizados para mejorar la salud y el bienestar.</div>
                <div class="specialty"><b>Rehabilitación:</b> Programas de rehabilitación para la recuperación de diversas condiciones de salud.</div>
                <div class="specialty"><b>Terapias Alternativas:</b> Incluye técnicas como la reflexología, aromaterapia, y masajes terapéuticos.</div>
            </div>
        </section>

        <section class="consultation">
            <h2>Horarios de Atención:</h2>
            <p><strong>Consultas y Terapias:</strong> Lunes a Viernes, 8:00AM - 5:00PM</p>
        </section>

        <section class="emergency">
            <h2>Programas Especiales</h2>
            <p>Algunas actividades y programas pueden tener horarios específicos, se recomienda llamar al centro.</p>
        </section>

        <section class="contact">
            <h2>Numero de contacto</h2>
            <p>Teléfono: <a href="tel:+5052289 7409">+505 2289 7409</a></p>
        </section>

        <section class="location">
            <h2>Ubicación</h2>
            <p class="location-address">Dirección: En parque de las madres, costado norte de la rotonda Plaza España. </p>
            <div id="map"></div>
            <button id="reset-marker" class="reset-button">Ubicar Hospital</button>
        </section>

        <section class="comments-section">
            <h2>Comentarios</h2>
            <form id="comentarioForm">
                <input type="text" id="nombre" placeholder="Tu nombre" required>
                <textarea id="comentario" placeholder="Tu comentario" required></textarea>
                <button type="submit">Enviar</button>
            </form>
            <div id="comentarios"></div>
        </section>        
    </main>

    <div id="footer-placeholder"></div>
    <script defer src="/assets/js/menu.js"></script>
    <script defer src="/assets/js//mnatural.js"></script>
    <script defer src="/assets/js/comentarios.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</body>
</html>