<!DOCTYPE htmnl>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
    <div id="header-placeholder"></div>












    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Tu Guía Médica. Todos los derechos reservados.</p>
            <p><a href="#">Política de Privacidad</a> | <a href="#">Términos de Uso</a></p>
        </div>
    </footer>
    <script defer src="/assets/js/main.js"></script>
</body>
</html>