.contacto {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    background-color: #f9f9f9; /* Fondo suave para contraste */
    border-radius: 8px; /* Bordes redondeados para un diseño más amigable */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
}

.contacto h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: 600;
    color: green;
}

.contacto p {
    margin-bottom: 15px;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-size: 1.1em;
    color: #333; /* Ajuste de color para mayor contraste */
}

.image-container {
    text-align: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 40%;
    height: auto;
    border-radius: 8px; /* Bordes redondeados para un diseño más cohesivo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para imágenes */
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .contacto {
        padding: 10px;
    }

    .contacto h1 {
        font-size: 1.5em; /* Tamaño de fuente ajustado para dispositivos móviles */
    }

    .contacto p {
        line-height: 1.4;
        letter-spacing: 0.3px;
        font-size: 1em;
        color: #333;
    }

    .image-container img {
        max-width: 55%; /* Ajuste de tamaño de imagen para dispositivos móviles */
    }
}
