* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Se asegura que html y body ocupen el 100% de la altura del viewport */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-image: url('/assets/img/blur-hospital.jpg');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column; /* Configura el body como un contenedor flex con dirección en columna */
}

.collague {
    width: 600px;
    height: auto;
    margin-left: 2rem;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1; /* Hace que el contenedor principal ocupe todo el espacio disponible */
}

.content {
    flex: 1; /* Asegura que el contenido principal ocupe todo el espacio disponible */
    padding: 2rem;
}

.content h1 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;
}

.content p {
    font-size: 1rem;
    color: #1c1b1b;
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: justify;
}

@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .content {
        padding: 1rem;
    }

    .content h1 {
        font-size: 1.5rem;
    }

    .content p {
        font-size: 0.875rem;
    }

    .collague {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    footer {
        padding: 1rem; /* Ajusta el padding del footer en dispositivos móviles */
    }
}

/* Estilo para el footer */
footer {
    background-color: rgba(17, 75, 95, 0.7);
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    flex-shrink: 0; /* Evita que el footer se encoja */
}

footer p {
    margin: 0.5rem 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}
