    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        background-color: #114b5f;
    }

    .logo {
        max-width: 25rem;
    }

    .nav-list {
        list-style-type: none;
        display: flex;
        gap: 1rem;
    }

    .nav-list li {
        position: relative;
    }

    .nav-list li a {
        text-decoration: none;
        color: white;
        padding: 0.5rem 1rem; /* Añadir espaciado interno */
    }



    .sub-menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: white; /* Color de fondo del submenú */
        padding: 1rem;
        z-index: 1;
        border-top: 1px solid rgba(0, 0, 0, 0.1); /* Línea de separación en la parte superior del submenú */
    }

    .sub-menu li {
        margin-bottom: 0.5rem;
        list-style-type: none; /* Quitar los puntos de lista */
        white-space: nowrap; /* Evitar que los elementos se dividan en múltiples líneas */
        border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea de separación entre elementos del submenú */
    }

    .sub-menu li a {
        color: #666;
        font-size: 1rem; /* Tamaño de fuente ajustado */
        padding: 0.5rem 1rem; /* Espaciado interno ajustado */
        display: block; /* Ajuste para ocupar todo el ancho disponible */
    }


    .nav-list li:hover .sub-menu {
        display: block; /* Mostrar el submenú cuando se hace hover */

    }

    .abrir-menu,
    .cerrar-menu {
        display: none;
    }

    .nav-list li:hover .sub-menu li:hover a {
        color:rgb(66, 30, 226); /* Cambia el color del texto al pasar el mouse */
    }
    

    @media screen and (max-width: 550px) {
        .abrir-menu,
        .cerrar-menu {
            display: block;
            border: 0;
            font-size: 1.25rem;
            background-color: transparent;
            cursor: pointer;
        }

        .abrir-menu {
            color: white;
        }

        .cerrar-menu {
            color: #ececec;
        }

        .nav {
            opacity: 0;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 1rem;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: #114b5f;
            padding: 2rem;
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        }

        .nav.visible {
            opacity: 1;
            visibility: visible;
        }
        
        .nav-list {
            flex-direction: column;
            align-items: end;
        }

        .nav-list li {
            position: relative;
        }

        .nav-list li:not(:last-child) {
            padding-bottom: 0.5rem; /* Espaciado en la parte inferior de cada elemento del menú */
        }

        .nav-list li:hover .sub-menu {
            display: block; /* Mostrar el submenú cuando se hace hover */
        }

        .sub-menu {
            display: none;
            position: static;
            background-color: #114b5f;
            padding: 1rem;
            z-index: 1;
        }

        .nav-list li:hover .sub-menu li:hover a {
            color:rgb(235, 245, 104); /* Cambia el color del texto al pasar el mouse */
        }
        .sub-menu li {
            margin-bottom: 0.5rem;
            list-style-type: none; /* Quitar los puntos de lista */
            white-space: nowrap; /* Evitar que los elementos se dividan en múltiples líneas */
            border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Línea de separación entre elementos del submenú */
        }

        .sub-menu li a {
            color: #ececec;
            font-size: 1rem; /* Tamaño de fuente ajustado */
            padding: 0.5rem 1rem; /* Espaciado interno ajustado */
            display: block; /* Ajuste para ocupar todo el ancho disponible */
        }

        .logo {
            max-width: 12rem;
        }
    }