.navbar {
    background-color: #114b5f;
    padding: 1.0rem;
    display: flex;
    align-items: center;
}

.logo-container {
    margin-right: auto; /* Esto empuja el logo a la izquierda */
}

.image {
    width: 55%;
    height: auto;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    flex-grow: 1; /* Esto permite que la lista de navegación ocupe el espacio restante */
}

.nav-item {
    position: relative;
    margin: 0 1rem;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    transition: color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav-link .fa-angle-down  {
    margin-left: 1px; 
    font-size: 0.9em; 
    vertical-align: top;
}

.nav-link:hover {
    color: #ff6347;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 290px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

.dropdown-content li.divider {
    border-top: .2px solid grey;
    margin-top: 0;
}

.dropdown-content .dropdown-link {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .dropdown-link:hover {
    background-color: #f1f1f1;
}

.nav-item:hover .dropdown-content {
    display: block;
}