* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #114b5f;
}

.logo {
    max-width: 25rem;   
    width: 100%; /* Asegurando que el logo escale correctamente */
    height: auto; /* Manteniendo la proporción del logo */
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-list li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ececec;
}

.icon {
    position: relative;
    top: -5px;
}

.sub-menu {
    display: block;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    background-color: white;
    padding: 1rem;
    z-index: 1;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: opacity 1s, transform 0.5s, visibility 0.5s;
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    border-radius: 8px;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.sub-menu li {
    margin-bottom: 0.5rem;
    list-style-type: none;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
}

.sub-menu li:last-child {
    border-bottom: none;
}

.sub-menu li a {
    color: #333;
    font-size: 1rem;
    padding: 0.5rem 1.25rem;
    display: block;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 4px;
}

.sub-menu li a:hover {
    color: white;
    background-color: rgb(66, 30, 226);
}

.nav-list li:hover .sub-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

/* Estilo para el footer */
footer {
    background-color: rgba(17, 75, 95);
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    flex-shrink: 0; /* Evita que el footer se encoja */
}

footer p {
    margin: 0.5rem 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para el menú móvil */
@media screen and (max-width: 768px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed; /* Cambiado a fixed */
        top: 0;
        right: 0;
        width: 80vw; /* Asegúrate de no cubrir toda la pantalla */
        height: 100vh; /* Asegúrate de cubrir toda la altura */
        background-color: #114b5f;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1000; /* Asegúrate de que el z-index sea alto */
        transition: opacity 0.3s, visibility 0.3s; /* Añadido para una transición más suave */
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li:not(:last-child) {
        padding-bottom: 0.5rem;
    }

    .sub-menu {
        display: none;
        position: static;
        background-color: #114b5f;
        padding: 1rem;
        z-index: 1;
    }

    .sub-menu li {
        margin-bottom: 0.5rem;
        list-style-type: none;
        white-space: nowrap;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .sub-menu li a {
        color: #ececec;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        display: block;
    }

    .logo {
        max-width: 12rem;
    }
}

@media screen and (max-width: 820px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: white;
    }

    .cerrar-menu {
        color: #ececec;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed; /* Cambiado a fixed */
        top: 0;
        right: 0;
        width: 80vw; /* Asegúrate de no cubrir toda la pantalla */
        height: 100vh; /* Asegúrate de cubrir toda la altura */
        background-color: #114b5f;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        z-index: 1000; /* Asegúrate de que el z-index sea alto */
        transition: opacity 0.3s, visibility 0.3s; /* Añadido para una transición más suave */
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li {
        position: relative;
    }

    .nav-list li:not(:last-child) {
        padding-bottom: 0.5rem;
    }

    .nav-list li:hover .sub-menu {
        display: block;
    }


    .sub-menu {
        display: none;
        position: static;
        background-color: #114b5f;
        padding: 1rem;
        z-index: 1;
        transition: none; /* Eliminar transiciones */
    }

    .nav-list li:hover .sub-menu li:hover a {
        color: rgb(235, 245, 104);
    }

    .sub-menu li {
        margin-bottom: 0.5rem;
        list-style-type: none;
        white-space: nowrap;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    .sub-menu li a {
        color: #ececec;
        font-size: 1rem;
        padding: 0.5rem 1rem;
        display: block;
        transition: none; /* Eliminar transiciones */
    }

    .logo {
        max-width: 12rem;
    }

    /* Quitar triángulos y transiciones del submenú en el menú móvil */
    .sub-menu::before {
        display: none;
    }

    footer {
        padding: 1rem; /* Ajusta el padding del footer en dispositivos móviles */
    }
}

/* Ajustes adicionales para landscape */
@media screen and (max-width: 1024px) and (orientation: landscape) {
    header {
        padding: 1rem;
    }

    .logo {
        max-width: 10rem;
    }

    .nav-list {
        gap: 0.5rem;
    }

    .nav-list li a {
        padding: 0.5rem 0.75rem;
    }

    .sub-menu {
        padding: 0.75rem;
    }

    .sub-menu li a {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }

    .fa-angle-down {
        font-size: 0.50rem;
    }

    footer {
        padding: 0.5rem; /* Ajusta el padding del footer en dispositivos móviles */
    }
}
