body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/assets/img/background.webp');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #333; /* Color de texto general */
}

.hero {
    position: relative;
    text-align: center;
    color: white; /* Asegurando el contraste con la imagen de fondo */
    padding: 80px 40px;
}

.hero-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(40%); /* Oscurece la imagen para mejorar el contraste */
}

.hero-text {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
}

.hero-text h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.3rem;
}

.specialties, .consultation, .emergency, .contact, .location, .comments-section {
    padding: 40px 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Incrementar opacidad para mejorar el contraste */
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 1200px; /* Ancho máximo */
}

.specialties h2, .consultation h2, .emergency h2, .contact h2, .location h2, .comments-section h2 {
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #2E7D32; /* Usar un color con buen contraste */
}

.specialties .specialties-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.specialty {
    flex: 1 1 calc(33% - 20px); 
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    max-width: 300px;
    text-align: left;
}

.specialty:hover {
    transform: scale(1.05);
}

.consultation p, .emergency p, .contact p {
    margin: 10px 0;
    font-size: 1.2rem;
}

.location-address {
    margin-bottom: 20px; 
    font-size: 1.2rem;
    color: #333; /* Asegurando buen contraste */
}

.location #map {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
}

.reset-button, .comments-section button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3e3f8f; /* Color de fondo mejorado */
    color: white;             /* Color de texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.reset-button:hover, .comments-section button:hover {
    background-color: #5153d1; /* Color de fondo más oscuro para el estado hover */
}

.comments-section {
    text-align: left;
}

.comments-section form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; 
}

.comments-section input, .comments-section textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.comments-section button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3e3f8f; /* Color de fondo con mejor contraste */
    color: #FFFFFF; /* Color de texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.comments-section button:hover {
    background-color: #5153d1; /* Color de fondo más oscuro para el estado hover */
}

.comments-section #comentarios {
    margin-top: 20px; 
}

.comments-section #comentarios div {
    margin-bottom: 20px; 
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;
}

.comments-section #comentarios .comment-text {
    margin-bottom: 5px;
}

.comments-section .comment-date {
    font-size: 0.9rem;
    color: #999;
    position: absolute;
    bottom: 0;
    right: 0;
}



/* Estilos para los mensajes */
.message {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    font-family: Arial, sans-serif;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    max-width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.message-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}



@media (max-width: 768px) {
    header h1 {
        font-size: 1.0rem;
    }

    .hero-text h2 {
        font-size: 1.5rem;
    }

    .hero-text p {
        font-size: 1rem;
    }

    .specialties, .consultation, .emergency, .contact, .location {
        padding: 30px;
    }

    .specialties h2, .consultation h2, .emergency h2, .contact h2, .location h2 {
        font-size: 1.5rem;
    }

    .specialties .specialties-container {
        flex-direction: column;
        align-items: center;
    }

    .specialty {
        max-width: 100%;
    }

    .location #map {
        height: 300px;
    }

    .location-address {
        margin-bottom: 20px; /* Espacio entre el párrafo y el mapa */
        font-size: 1.0rem; /* Tamaño de fuente */
        color: #555; /* Color de texto */
    }
  
    .comments-section h2 {
        font-size: 1.5rem;
    }
}